<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>

    <body>
        <%- include('includes/header') %>
        
            <main>
                <h3>Hi, <%= user.username %> 👋</h3>
                <h2>Welcome to your dashboard</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ducimus fugiat quasi, nemo corrupti
                    commodi quibusdam magnam! Quisquam, sapiente eligendi. Blanditiis, impedit nesciunt. Soluta autem id
                    dolores, consequuntur illo tenetur!</p>
            </main>

            <%- include('includes/footer') %>


    </body>

</html>