<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>backendPractice</title>
    <link rel="stylesheet" href="/styles.css">

</head>

<body>
    <header>
        <h2><a href="/">Our Wonderful App</a></h2>
        <nav>
            <a href="/login">Log In</a>
        </nav>
    </header>

    <main>
        <h3>Log In Page</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam exercitationem molestias quasi, assumenda corporis tempora error beatae, quo magni dignissimos deleniti distinctio voluptatem minus unde animi aspernatur et nihil? Rerum?</p>
    </main>

    <footer>
        <small>&copy; Our Wonderful App</small>
    </footer>
    
</body>
</html>