<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>

<body>
<%- include('includes/header') %>

    <main>
        <h3>Log In Page</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam exercitationem molestias quasi, assumenda corporis tempora error beatae, quo magni dignissimos deleniti distinctio voluptatem minus unde animi aspernatur et nihil? Rerum?</p>
    </main>
<%- include('includes/footer') %>

    
</body>
</html>